name: "CI"

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  nix:
    runs-on: self-hosted
    strategy:
      matrix:
        system: [aarch64-linux, aarch64-darwin]
    steps:
      - uses: actions/checkout@v4
      - run: nixci build --build-systems "github:nix-systems/${{ matrix.system }}"
